@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #111111;
}

.container {
  position: relative;
  width: 60vw;
  height: 80vh;
  background-color: #121212;
  border: solid 1px #eaeaea;
  border-radius: 12px;
}

.drag-move {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #f16141;
  position: absolute;
  cursor: grab;
  left: var(--left);
  top: var(--top);
}

.drag-move:hover {
  background-color: #f14923;
}
.text {
  background-color: #312ed7;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

p {
  color: #ffffff;
  padding: 0 20px 0 0;
}

p > span {
  color: #a8a8a8;
  padding-left: 4px;
}
